<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Merch App</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <nav class="nav-bar"></nav>

  <div id="app">
    <div class="product">
      <div class="product-image">
        <img :src="image">
      </div>
      <div class="product-info">
        <h1>{{ product }}</h1>
        <p>{{ description }}</p>
        <p v-if="inventory > 10">In stock</p>
        <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out</p>
        <p v-else :class="{ 'text-strikethrough': !inStock }">Out of stock</p>

        <h3>Details:</h3>
        <ul>
          <li v-for="detail in details">{{ detail }}</li>
        </ul>

        <h3>Available colors:</h3>
        <div v-for="variant in variants" 
            :key="variant.variantId"
            :style="{ backgroundColor: variant.variantColor }"
            @mouseover="updateProduct(variant.variantImage)"
            class="color-box">
        </div>

        <h3>Sizes:</h3>
        <ul>
          <li v-for="size in sizes">{{ size }}</li>
        </ul>

        <button v-on:click="addToCart" 
                :disabled="!inStock"
                :class="{ disabledButton: !inStock }">
          Add to Cart
        </button>
        <button v-on:click="removeFromCart">Remove from Cart</button>
        <div class="cart">
          <p>Cart ({{ cart }})</p>
        </div>
      </div>
    </div>
  </div>
  
  <script src="../node_modules/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>